<!doctype html>

<html lang="en" style="height: 100%; width: 100%;">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body style="height: 100%; width: 100%;background-color:#f2f2f2 ;">
    <script src="../static/js/institutehome.js"></script>
    <script src="../static/js/require.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div class="container" style="height: 100%; width: 100%;">
        <div class="row" style="height: 100%; width: 100%;">
            <div class="col-sm-4" style="height: 100%;">

                <div class="container" style="height:40%;width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    <p style="text-align: center;"><b> Add students</b></p>
                    <form action="/addstudents/{{user}}" method="POST">
                        <div class="form-group" style="margin-top: 15%;">
                            <p for="exampleFormControlFile1">Upload zip file</p>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file" >
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; background-color: #4d94ff; margin-top: 5%;" >Add</button>
                    </form>    
                </div>

                <div class="container" style="height:40%;width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    <p style="text-align: center;"><b> Add camera</b></p>
                    <form action="/addcamera/{{user}}" method="POST">
                        <div class="form-group" style="width: 75%; margin-left: 15%;margin-top: 15%;">
                            <input type="text" class="form-control" placeholder="Room number" id="camera_room_id" name="room">
                        </div>
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <input type="text" class="form-control" placeholder="Camera id" id="camera_id" name="camera_id">
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; background-color: #4d94ff;margin-top: 5%;" >Add</button>
                    </form>
                    
                </div>
                
            </div>
            <div class="col-sm-4" style="height: 100%; ">

                <div class="container" style="height:40%;width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    <p style="text-align: center;"><b> Remove students</b></p>
                    <p style="text-align: center;margin-top: 15%;">comma seperated Roll numbers</p>
                    <form action="/removestudents/{{user}}" method="POST">
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <input type="text" class="form-control" placeholder="Enter Roll numbers" id="remove_studentlist_id" name="removelist">
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; background-color: #4d94ff;margin-top: 5%;" >Remove</button>
                    </form>
                </div>
                
                

                <div class="container" style="height:40%;width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    <p style="text-align: center; margin-top: 10%;"><a style=" color: #ff3333;" href="/iqm/{{user}}">Retrieve attendance (queries)</a></p>                
                    <p style="text-align: center; margin-top: 10%;"><a style=" color: #ff3333;" href="/viewcameras/{{user}}">View cameras</a></p>                
                    <p style="text-align: center; margin-top: 10%;"><a style=" color: #ff3333;" href="/viewcourses/{{user}}">View courses</a></p>                
                    <!-- <div class="form-group" style="width: 75%; margin-left: 15%;margin-top: 15%;">
                        <input type="text" class="form-control" placeholder="Room number" id="camera_room_id" name="room">
                        <button type="button" class="btn btn-primary" style="float: right; background-color: #4d94ff;margin-top: 5%;" onclick="addCamera()">View cameras</button>
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%;">
                        <input type="text" class="form-control" placeholder="Camera id" id="camera_id" name="camera_id">
                    </div>
                    <button type="button" class="btn btn-primary" style="float: right; background-color: #4d94ff;margin-top: 5%;" onclick="addCamera()">Add</button> -->
                </div>

            </div>
            <div class="col-sm-4" style="height: 100%; ">

                <div class="container" style="width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    
                    <p style="text-align: center;"><b> Add course</b></p>
                    <form action="/addcourse/{{user}}" method="POST">


                        <div class="form-group" style="width: 75%; margin-left: 15%;margin-top: 15%;">
                            <input type="text" class="form-control" placeholder="Course name" id="course_id" name="course">
                        </div>
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <input type="text" class="form-control" placeholder="Room number" id="course_room_id" name="room">
                        </div>
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <input type="text" class="form-control" placeholder="Enter Roll numbers" id="course_studentlist_id" name="student_list">
                        </div>
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <div class="checkbox">
                                <label><input type="checkbox" value="sunday" name="day" id="sunday_id">Sunday</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="monday" name="day" id="monday_id">Monday</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="tuesday" name="day" id="tuesday_id">Tuesday</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="wednesday" name="day" id="wednesday_id">Wednesday</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="thursday" name="day" id="thursday_id">Thursday</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="friday" name="day" id="friday_id">Friday</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="saturday" name="saturday" id="saturday_id">Saturday</label>
                            </div> 
                        </div>
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <input type="time" class="form-control" placeholder="Attendance time" id="time_id" name="time">
                        </div>
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <input type="number" class="form-control" placeholder="Duration(mins)" id="duration_id" name="duration">
                        </div>
    
                        <button type="submit"   class="btn btn-primary" style="float: right; background-color: #4d94ff;margin-top: 5%;" >Add course</button>
                        
                    </form>
                    {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                            {% if message %}
                                {% if message == "Missing fields" %}
                                    <script>alert("Missing fields")</script>
                                {% endif %}
                                
                                {% if message == "nocameras" %}
                                    <script>alert("No cameras registered for user")</script>
                                {% endif %}
                                {% if message == "nocourses" %}
                                    <script>alert("No courses registered for user")</script>
                                {% endif %}
                                {% if message == "Course registered" %}
                                    <script>alert("Course successfully registered")</script>
                                {% endif %}
                                {% if message == "No file part" %}
                                    <script>alert("No file part")</script>
                                {% endif %}
                                {% if message == "No file selected for uploading" %}
                                    <script>alert("No file selected for uploading")</script>
                                {% endif %}
                                {% if message == "File successfully uploaded" %}
                                    <script>alert("File successfully uploaded")</script>
                                {% endif %}
                                {% if message == "Allowed file types are zip" %}
                                    <script>alert("Allowed file types are zip")</script>
                                {% endif %}
                                {% if message == "Removed successfully" %}
                                    <script>alert("Removed successfully")</script>
                                {% endif %}
                                {% if message == "Camera successfully Added" %}
                                    <script>alert("Camera successfully Added")</script>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>
