











<!doctype html>

<html lang="en" style="height: 100%; width: 100%;">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body style="height: 100%; width: 100%;background-color:#f2f2f2 ;">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div class="container" style="height: 100%; width: 100%;">
        <div class="row" style="height: 100%; width: 100%;">
            <div class="col-sm-4" style="height: 100%;">

                
                <div class="container" style="height:45%;width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    <p style="text-align: center;"><b> Add employees</b></p>
                    <form method="post" action="/addemployees/{{user}}" enctype="multipart/form-data">
                        <div class="form-group" style="margin-top: 15%;">
                            <p for="exampleFormControlFile1">Upload zip file</p>
                            <input type="file" name ="file" class="form-control-file" id="customFile" aria-describedby="imagehelp" placeholder="Enter image">
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; background-color: #4d94ff; margin-top: 5%;" >Add</button>
                    </form>    
                </div>

                
            </div>
            <div class="col-sm-4" style="height: 100%; ">

                <div class="container" style="height:45%;width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    <p style="text-align: center;"><b> Remove employees</b></p>
                    <p style="text-align: center;margin-top: 15%;">comma seperated employee ids</p>
                    <form action="/removestudents/{{user}}" method="POST">
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <input type="text" class="form-control" placeholder="Enter employee ids" id="remove_studentlist_id" name="removelist">
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; background-color: #4d94ff;margin-top: 5%;" >Remove</button>
                    </form>
                </div>
                
                

                <div class="container" style="height:40%;width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    <p style="text-align: center; margin-top: 10%;"><a style=" color: #ff3333;" href="/cqm/{{user}}">Retrieve attendance (queries)</a></p>                
                    <p style="text-align: center; margin-top: 10%;"><a style=" color: #ff3333;" href="/viewcorporatecameras/{{user}}">View cameras</a></p>                
                    <div style="display: flex;  justify-content: center;">
                        <form action="/startclicked/{{user}}" method="POST">
                            <button type="submit" class="btn btn-primary" id="startbutton_id" style="float: center; background-color: #4d94ff;margin-top: 5%;">start</button>
                        </form>
                        
                    </div>
                    
                </div>

            </div>
            <div class="col-sm-4" style="height: 100%; ">

                <div class="container" style="height:45%;width:80% ;margin-top: 10%;  box-shadow: 2px 2px 5px grey;  border-radius: 8px;padding: 10%; background-color: #FFFFFF;">
                    <p style="text-align: center;"><b> Add camera</b></p>
                    <form action="/addcorporatecamera/{{user}}" method="POST">
                        <div class="form-group" style="width: 75%; margin-left: 15%;margin-top: 15%;">
                            <input type="text" class="form-control" placeholder="Gate " id="camera_gate_id" name="gate">
                        </div>
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <input type="text" class="form-control" placeholder="Camera id" id="camera_id" name="camera">
                        </div>
                        <div class="form-group" style="width: 75%; margin-left: 15%;">
                            <select class="form-control" id="type_id" name = "type">
                                <option selected disabled ><p style="color: grey;">Camera type</p></option>
                                <option value="IN" selected>IN</option>
                                <option value="OUT">OUT</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; background-color: #4d94ff;margin-top: 5%;" >Add</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
                    {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                            {% if message %}
                                {% if message == "Missing fields" %}
                                    <script>alert("Missing fields")</script>
                                {% endif %}
                                {% if message == "fileuploaded" %}
                                    <script>alert("File successfully registered")</script>
                                {% endif %}
                                {% if message == "nocameras" %}
                                    <script>alert("No cameras registered for user")</script>
                                {% endif %}
                                {% if message == "nocourses" %}
                                    <script>alert("No courses registered for user")</script>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}



                    {% if start==0 %}
                        <script>
                        document.getElementById("startbutton_id").style.visibility = "hidden"
                        </script>
                    {% endif %}
    
</body>
</html>













                