<!doctype html>

<html lang="en" style="height: 100%; width: 100%;">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
tr {text-align: center;}
table {margin: 10px;background-color:#FFFFFF;}
</style>

<body style="height: 100%; width: 100%;background-color:#f2f2f2 ;">
    <div class="container" style="height: 100%; width: 100%;">
        <div class="row" style="height: 100%; width: 100%;">
            <div class="col-sm-12" style="height: 100%;">
                <table class="table table-striped" id="coursetable_id">
                    {% if condition==1 %}
                        <thead >
                            <tr>
                              <th style="width:30%;text-align: center;">Employees</th>
                            </tr>
                        </thead >
                        <tbody>
                            {% for key, value in data.items() %} 
                                {% for each in value %}
                                    <tr>
                                        <td>{{each}}</td>
                                    </tr>        
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    {% endif %}
                    {% if condition==0 %}
                    <thead>
                        <tr>
                          <th style="width: 30%; text-align: center;">Date</th>
                          <th style="width: 70%; text-align: center">Employees</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in data.items() %}
                            <tr>
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>        
                        {% endfor %}
                    </tbody>
                    {% endif %}
                    
                </table>
            </div>
            <div class="col-sm-0" style="height: 100%;">   
            </div>
            <div class="col-sm-0" style="height: 100%;">   
            </div>
        </div>
    </div>
    
</body>
</html>
