<!doctype html>

<html lang="en" style="height: 100%; width: 100%;">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<style>
table, td, th {  
  border: 1px solid #70153d;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
  background-color:#faebee;
}

th, td {
  padding: 15px;
  text-align: center;
}
tr {text-align: center;}

</style>


<body style="height: 100%; width: 100%;background: url('../static/c22.jpg') no-repeat center top;">
    <h3 style="text-align: center; margin-top: 3%; color: #70153d;">EMPLOYEE LIST</h3>
    <div class="container" style="height: 100%; width: 100%;">
        <div class="row" style="height: 100%; width: 100%;">
            <div class="col-sm-2" style="height: 100%;">
            </div>
            <div class="col-sm-8" style="height: 100%;margin-top: 2%;">
                <table class="table table-striped" id="coursetable_id">
                    {% if condition==1 %}
                        <thead style="color: #226b78;">
                            <tr>
                              <th style="width:30%;text-align: center;">EMPLOYEES</th>
                            </tr>
                        </thead >
                        <tbody style="background-color:#faebee ;">
                            {% for key, value in data.items() %} 
                                {% for each in value %}
                                    <tr>
                                        <td>{{each}}</td>
                                    </tr>        
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    {% endif %}
                    {% if condition==0 %}
                    <thead style="color: #226b78;">
                        <tr>
                          <th style="width: 30%; text-align: center;">DATE</th>
                          <th style="width: 70%; text-align: center;">EMPLOYEES</th>
                        </tr>
                    </thead>
                    <tbody style="background-color:#faebee ;">
                        {% for key, value in data.items() %}
                            <tr>
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>        
                        {% endfor %}
                    </tbody>
                    {% endif %}
                    
                </table>
            </div>
            <div class="col-sm-2" style="height: 100%;">   
            </div>
        </div>
    </div>
    
</body>
</html>
